@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700;800&family=Rubik:wght@300;400;500;600&display=swap");

/*
Fonts:
    - Poppins: 300, 400, 600, 700, 800
    - Rubik: 300, 400, 500, 700
*/

:root {
  --primary-color: #063abf;
  --secondary-color: #794afa;
  --secondary-dark-color: #453c5c;

  --white-color: #fff;
  --light-bg-color: #f2f3f5;
  --light-text-color: #7c899a;
  --border-color: #e5e8ec;
  --dark-color: #0a021c;

  --font-small: 13px;
  --font-smaller: 11px;

  --percent100: 100%;
  --percent50: 50%;

  --fw3: 300;
  --fw5: 500;
  --fw6: 600;
  --fw7: 700;
  --fw8: 800;

  --trans-background-color: background-color 0.3s color 0.3s;
  --trans-background: background-color 0.3s;
  --trans-color: color 0.3s;
}

* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: var(--dark-color);
  background-color: var(--white-color);
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

ul {
  list-style: none;
}
img {
  max-width: var(--percent100);
  vertical-align: middle;
}

strong {
  font-weight: var(--fw8);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input::placeholder {
  font: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins";
}

h1 {
  font-size: calc(1.2em+1vw);
  font-weight: var(--fw8);
  line-height: 1;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.2em;
  font-weight: var(--fw7);
}

h4 {
  font-size: 1em;
  font-weight: var(--fw6);
}

.icon {
  display: flex;
  align-items: center;
  border-radius: 50%;
  padding: 4px;
}

svg {
  width: 16px;
  cursor: pointer;
  color: var(--dark-color);
}

.container {
  max-width: 1200px;
  min-width: 290px;
  margin: 0 auto;
}

/* contacts */

.contacts_section {
  background-color: var(--light-bg-color);
}

.contacts_section .contacts {
  display: flex;
  justify-content: space-between;
  padding: 0.2em 0.5em;
  font-size: var(--font-smaller);
}

.contacts :where(.cont, .soc, .call, .mail) {
  display: flex;
}

.contacts :where(.mail, .call) {
  margin: 0 0.5em;
  align-items: center;
  justify-content: center;
}

.contacts .icon {
  margin: 0 0.3em;
}

/* nav-seaction */

.navbar_section {
  border-bottom: 1px soli violet;
  border: 1px groove var(--border-color);
}

.navbar_section
  :where(.navigation, .nav, .logo, .nav_list, .search_box, a, .search) {
  display: flex;
  align-items: center;
}

.navbar_section .nav svg {
  width: 50px;
  padding: 0.2em;
}

.navbar_section .navigation {
  justify-content: space-between;
  column-gap: 1em;
  font-size: 15px;
  margin: 0 0.5em;
}

.navbar_section .navigation strong {
  text-transform: uppercase;
}

.navbar_section .navigation .nav_list {
  margin: 0 1em;
  gap: 1em;
}

.navbar_section .navigation .nav_list .nav_item:hover {
  opacity: 0.7;
}

.navbar_section .navigation :where(.search_box, .search_box svg) {
  color: rgb(0, 140, 0);
  font-weight: var(--fw5);
}

.navbar_section .navigation .search_box .icon svg {
  width: 22px;
  margin-left: 0.5em;
}

/* start hero section  */
.hero_section {
  padding: 2em 0.5em;
}

.hs_2 {
  padding: 0.5em;
}

.hero_one {
  display: flex;
  align-items: center;
}

.hero_two {
  flex-direction: row-reverse;
  column-gap: 3em;
}

.hero_two .contacts {
  display: flex;
  float: right;
  justify-content: right;
  text-align: right;
}

.hero_one .reference {
  width: 90%;
}

.hero_one .content {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.hero_one .content .title {
  font-size: 1.6em;
  font-weight: var(--fw6);
  text-transform: uppercase;
  padding: 0.8em 0.2em;
}
.hero_one .content .para {
  width: 80%;
  padding: 1.5em 1em;
}

.hero_one .content .txt {
  margin: 0.5em;
  margin-left: 3em;
}

.hero_one .content :where(.para, .btn, .txt) {
  font-size: var(--font-small);
}

.hero_one .content .btn {
  width: fit-content;
  padding: 0.7em 1em;
  border: 0;
  border-radius: 20px;
  font-family: inherit;
  font-weight: var(--fw5);
  cursor: pointer;
  margin: 0.2em 1em;
  background-color: var(--border-color);
  transition: 0.5s;
}

.hero_one .content .btn:hover {
  background-color: var(--secondary-dark-color);
  color: var(--white-color);
}

.hero_section .hero_tree {
  font-size: var(--font-smaller);
  padding: 1.5em 3em;
  text-align: center;
}

/* ======= row scroll ============== */
























/* ========= footer section ============== */
.footer_section{
  background-color: #322947;
  padding: 0 1em;
}
.footer_section .wrapper{
  display: flex;
  flex-wrap: wrap;
  color: var(--white-color);
  padding: 5em 0;
  font-size: var(--font-small);
  column-gap: .5em;
  justify-content: space-around;
  border-bottom: 2px solid var(--border-color);
  margin-bottom: 1em;
}

.footer_section .wrapper :where(.help, .blog, .social_media, .advancing, .companies, li){
  display: flex;
  flex-direction: column;
  line-height: 1.8;
}

.footer_section .wrapper .col{
  width: min-content;
}

.footer_section  .wrapper li a{
  position: relative;

}


.footer_section  .wrapper li a::before{
  content: '';
  position: absolute;
  bottom: .1em;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: var(--white-color);
  transition: all .5s;
}

.footer_section  .wrapper li a:hover::before{
  width: 100%;
}

.footer_section  .wrapper li a:hover{
  opacity: .6;
}





.footer_section  .wrapper .text{
  margin-bottom: 1.2em;
}


.footer_section  .wrapper .col{
  width: 15%;
}

.footer_section .wrapper.policy ul{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  justify-content: space-around;
}





@media screen and (max-width: 692px) {
  .contacts_section .contacts .text {
    display: none;
  }

  .navbar_section .nav_list {
    display: none;
  }

  .hero_one {
    display: flex;
    flex-direction: column;
  }

  .hero_one .reference {
    padding: 0 2em;
  }

  .hero_one .content .btn {
    margin: 0.2em 2em;
  }

  .hero_one .content {
    display: flex;
    padding: 0 1em;
  }

  .hero_one .content .title {
    text-align: center;
    padding: 0.5em 0;
  }
  .hero_one .content .para {
    padding: 0 2em;
    width: 100%;
    margin-bottom: 1.5em;
  }
  .footer_section .wrapper .col{
    width: 45%;
    margin: 1em .5em;
  }
}

@media screen and (max-width: 352px){
  .footer_section .wrapper .col{
    width: 70%;
  }
}
